---
import PostLayout from '@/layouts/PostLayout.astro';
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const thoughts = await getCollection('thoughts');
  return thoughts.map((thought) => ({
    params: { slug: thought.id },
    props: thought,
  }));
}

type Props = CollectionEntry<'thoughts'>;

const post = Astro.props;
const { Content } = await render(post);

const postTitleClasses = cn('relative my-16 col-span-full md:col-[1_/_-1] lg:col-[2_/_-1]');
---

<PostLayout title={post.data.title} description={post.data.description} post={post}>
  {post.data.heroImage && (
    <div class="w-full h-100vh md:aspect-video md:max-h-[75vh] col-span-full overflow-hidden">
      <Image
        src={post.data.heroImage} 
        alt={post.data.title} 
        layout="full-width"
        priority={true}
        width={1200}
        height={800}
        class="z-0 m-0"
      />
    </div>
  )}
  <div class:list={`${postTitleClasses}`}>
    <div class="text-sm px-4! md:px-6! py-2 leading-4">
      {post.data.publishedAt.toLocaleDateString()}
    </div>
    <h1 class="inline-block text-balance! font-bold">
      {post.data.title}
    </h1>
  </div>
  <Content />
</PostLayout>